﻿@model int
@{
    ViewBag.Title = "Counter Application";
} 
<div class="row">
    <div class="col-md-12">
        @using (Html.BeginForm())
        { 
            <div class="panel panel-default">
                <div class="panel-heading panelCounter">Counter Application</div>
                <div class="panel-body panelCounter"> 
                    <label class="labelCounter"> @Model </label>
                    <br />
                    <input type="submit" value="Increase" class="btn btn-primary" @(Model >= 10 ? "disabled" : "") />
                </div>
            </div>
           
        }

    </div>
</div>
